/* box style*/
.box{
    border-left:solid black 1px;
    border-right:solid black 1px;
    border-top:solid black 1px;
    height:410px;
    margin-top: 30px;
}
//blue heading
.blue-head{
    color:white;
    background-color: rgb(23, 129, 179);
    height:50px;
    padding-top: 10px;
}
.image{
    margin-top: 20px;
}
.details{
    padding-left: 20px;
    padding-top: 20px;
}
.foot{
    color:white;
    background-color: rgb(190, 193, 194);
    height:50px;
    width:926px;
    margin-left:2px;
    border-left:solid black 1px;
    border-right:solid black 1px;
    border-bottom:solid black 1px;

}
button{
    margin-left:20px;
    margin-top: 5px;
   
}