/* box style*/
.box{
    border: black solid 1px;
    height:410px;
    margin-top: 30px;
}
//blue heading
.blue-head{
    color:white;
    background-color: rgb(23, 129, 179);
    height:50px;
}
.image{
    margin-top: 20px;
    
}
.details{
    padding-left: 20px;
    padding-top: 20px;
    width: 90px;
    margin-top: -165px;
}
.detail{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 150px ;
    
}
.foot{
    color:white;
    background-color: rgb(190, 193, 194);
    height:50px;
    margin-top :68px;
}
button{
    margin-left:20px;
    margin-top: 5px;
}