<div class="row">
    <div class="col-1"></div>
    <div class="col-8 box">
       <div class="row"> 
           <div class="col-12 blue-head">Product Detail: {{selectedProduct.productName}}</div>
       </div>
       <div class="row">
           <div class="col-2 details">
              Name: <br>
              Code: <br>
              Description: <br>
              Availability: <br>
              Price: <br>
              5 Star Rating: <br>
           </div>
           <div class="col-5 details ">
               {{selectedProduct.productName}} <br>
               {{selectedProduct.productCode}} <br>
               {{selectedProduct.description}} <br>
               {{selectedProduct.releaseDate}} <br>
               {{selectedProduct.price}} <br>
               <img src="https://lh3.googleusercontent.com/4Mi3OIddJiio5-aQ4NjjKw7aRN3FjQ_NnCRyD4MHe0u97EU21FL1hbhndMWt9KdezBWWMVA=s17" *ngFor='let in of counter(selectedProduct.starRating)'> <br>
           </div>
           <div class="col-5 image">
              <img src="{{selectedProduct.imageUrl}}" alt="not found">
           </div>
        </div>
        
    </div>
    <div class="row"> 
        <div class="col-1"></div>
        <div class="col-8 foot">
            <button class="btn btn-light"  routerLink="/products"> <strong><</strong> Back</button>
            <button class="btn btn-primary">Edit</button>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="col-3"></div>
   </div>