<div class="row">
    <div class="col-1"></div>
    <div class="col-9 box">
       <div class="row"> 
           <div class="col-12 blue-head">Product List</div>
       </div>
       <div>
        <label>Filter by:</label><input [(ngModel)]="searchProduct" placeholder="search by product name ">
    </div>
       <div>
           <table>
               <tr>
                <th><button class="btn btn-primary" (click)="icon()">Show Image</button></th>
                <th>Product</th>
                   <th>Code</th>
                   <th>Availability</th>
                   <th>Price</th>
                   <th>5 Star Rating</th>
                   <th></th>
               </tr>
               @fade
               <tr *ngFor="let product of products | search:searchProduct">
                <td></td>
                   <td><a routerLink={{product.productId}} href="">{{product.productName}}</a></td>
                   <td>{{product.productCode}}</td>
                   <td>{{product.releaseDate}}</td>
                   <td>${{product.price}}</td>
                   <td><img src="https://www.iconsdb.com/icons/preview/red/star-xxl.png" *ngFor='let in of counter(product.starRating)'></td>
                   <td><button class="btn btn-primary">Edit</button></td>
               </tr>
           </table>
       </div>
    </div>
    <div class="col-2"></div>
   </div>
