.login-input
{
    margin-top: 20px;
}
.box{
    height: 220px;
    margin-top: 30px;
    text-align: center;
    border: black solid 1px;
    width: 355px;
}
.col-4
{
    margin: auto;
}
.col-4 box
{
    margin: auto;
}
.blue-head{
    color: white;
    background-color: rgb(23,129,179);
    height: 50px;
    padding:10px 0px 10px 20px;
}
.row{
    width:1000px;
   margin: auto;
}