<br><br>
<br>
<br>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4 box">
        
            <div class="col-12 blue-head">Login</div>
            <form>
                <input type="text" id="login" class="login-input" placeholder="Username"><br>
                <input type="password" id="password" class="login-input" placeholder="Password"><br>
                <input type="submit" (click)="submit()" class="login-input" value="Login"><br>
            </form>
        
    </div>
</div>
