<div class="row">
    <div class="col-1"></div>
    <div class="col-9 box">
       <div class="row"> 
           <div class="col-12 blue-head">Product List</div>
       </div>
       <div>
           <br>  <br>
           <label>Filter by:<input type="text"></label>
       </div>
       <div>
           <table>
               <tr>
                   <th><button class="btn btn-primary">Show Image</button></th>
                   <th>Product</th>
                   <th>Code</th>
                   <th>Availability</th>
                   <th>Price</th>
                   <th>5 Star Rating</th>
                   <th></th>
               </tr>
               <tr *ngFor="let product of products">
                   <td></td>
                   <td><a [routerLink]="['/product-details',product.id]" href="">{{product.name}}</a></td>
                   <td>{{product.code}}</td>
                   <td>{{product.availability}}</td>
                   <td>${{product.price}}</td>
                   <td><img src="http://www.simpleimageresizer.com/_uploads/photos/fd4ed8c2/star_2_10.jpg" *ngFor='let in of counter(product.rating)'></td>
                   <td><button class="btn btn-primary">Edit</button></td>
               </tr>
           </table>
       </div>
    </div>
    <div class="col-2"></div>
   </div>
