<br><br>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-9">
        <div class="col-12 blue-head">Welcome</div>
        </div> <br><br><br><br>
        <div class="a">
        <img src="{{image}}"   alt="acme not found"></div>
        <br><br><br><br>
        <div class="welcome-foot-top">Developed by</div>
        <div class="welcome-foot-mid">Rakhi</div>
        <pre class="welcome-foot">rakhisnair <br>
        rakhisnair731993@gmail.com</pre>
    </div>
<div class="col-2"></div>