/* box style*/
.box{
    border: black solid 1px;
    height:410px;
    margin-top: 30px;
}
//blue heading
.blue-head{
    color:white;
    background-color: rgb(23, 129, 179);
    height:50px;
    padding:10px 0px 10px 20px ;
}
.acme-image{
    padding:20px 30px 40px 370px;
}
.welcome-foot{
    font-size: 13px;
    text-align: center;
    padding-top: 13px;
}
.welcome-foot-mid{
    text-align: center;
    font-size: 18px;
    padding-top:15px;
}
.welcome-foot-top{
    font-size: 13px;
    text-align: center;
}