<div class="row">
    <div class="col-1"></div>
    <div class="col-9 box">
       <div class="row"> 
           <div class="col-12 blue-head">Welcome</div>

       </div>
       <button (click) = "animate()">Click Me</button>
       <div [@myanimation] = "state" class = "rotate">
          <img src = {{image}} width = "100" height = "100">

       </div>

       <div class="welcome-foot-top">Developed by</div>
       <div class="welcome-foot-mid"> Rakhi</div>
       <pre class="welcome-foot">Kameda Infologics
   rakhisnair731993@gmail.com</pre>
    </div>
    <div class="col-2"></div>
   </div>