img {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.box{
    border:black solid 1px;
    height: 220px;
    width: 125px;
    margin-top: 30px;
    text-align: center;
}
.row{
    border:black solid 1px;
    width:1000px;
   margin: auto;
}

.blue-head{

    color: white;
    background-color:rgb(23,129,179);
    height: 50px;
    padding:5px 0px 10px 10px;
}
.a{
width: 800px;
margin:0 auto;
font-size: xx-large;
    
}

.welcome-foot
{
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
}

.welcome-foot-mid
{
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}
.welcome-foot-top
{
    font-size: 13px;
    text-align: center;
}