<div class="row">
    <div class="col-4"></div>
    <div class="col-4 box">
       <div class="row"> 
           <div class="col-12 blue-head">register</div>
           <form [formGroup]="userprofileForm" (ngSubmit)= "onSubmit()">
            <div class="form-group">
              <label >First Name:
                <input type="text" class="form-control" [ngClass]="{'errorborder':(isInvalid && !(firstName?.touched) )}" formControlName="firstName" placeholder="firstname">
              </label>
                <span *ngIf="firstName?.invalid && firstName?.touched ||(isInvalid && !(firstName?.touched) )"  class="error">This field is required</span>
          </div>
          <div class="form-group">
              <label >Last Name: 
                <input type="text" class="form-control" [ngClass]="{'errorborder':(isInvalid && !(lastName?.touched) )}" formControlName="lastName" placeholder="lastname">
              </label>
                <span *ngIf="lastName?.invalid && lastName?.touched||(isInvalid && !(lastName?.touched) ) " class="error">This field is required</span>
           </div>
          
          <div class="form-group">
              <label >Email:
                <input type="email" class="form-control" [ngClass]="{'errorborder':(isInvalid && !(email?.touched) )}" formControlName="email" placeholder="email">
              </label>
                <span *ngIf="email?.invalid && email?.touched ||(isInvalid && !(email?.touched) )"  class="error">This field is required</span>
          </div>
          <div class="form-group">
            <label >Password:
              <input type="password" class="form-control" [ngClass]="{'errorborder':(isInvalid && !(password?.touched) )}" formControlName="password" placeholder="password">
            </label>
              <span *ngIf="password?.invalid && password?.touched ||(isInvalid && !(password?.touched) )"  class="error">This field is required</span>
        </div>
           <button type="submit" [disabled]="userprofileForm.invalid" class="btb btn-primary">Sign Up</button>

          </form>
       </div>
     </div>
    
      </div>

<br>Dirty:{{userprofileForm.dirty}}
<br>Touched:{{userprofileForm.touched}}
<br>Valid:{{userprofileForm.valid}}
<br>Value:{{userprofileForm.value | json}}



